.home-container {
    height: 300px;
    color: white;
    padding-left: 150px;

}

.home-content h1 {
    padding: 10px;
    padding-top: 80px;
    /* margin-left: 150px; */

}

.home-content h2 {
    padding: 10px;
    color: #e0b50f;
    /* margin-left: 150px; */

}


.home-buttons .btn-hire {
    background-color: #3b8ff3;
    color: white;
    width: 160px;
    margin-top: 20px;
}

.home-buttons .btn-hire:hover {
    background-color: white;
    color: #3b8ff3;
    width: 200px;
    transition: 1s;
}

.home-buttons .btn-cv {
    margin-top: 20px;
    background-color: #e0b50f;
    color: white;
    margin-left: 15px;
}

.home-buttons .btn-cv:hover {
    background-color: #f0d50f;
    transition: 1s;
}

.theme-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #1e1e1e;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}